.composition{
     position: relative;
    &_photo{
        position: absolute;
        width: 55%;
        outline-offset: 1rem;
        transition: all .2s;
        box-shadow: 0rem 1rem 2rem rgba($color-black,0.5);

      &--p1{
        left: 0;
        top: -2rem;
      }
      &--p2{
        right: 0;
        top:2rem;
      }
      &--p3{
        top: 12rem;
        left: 20%;
      }
      &:hover{
        z-index: 5;
        transform: scale(1.05);
        outline: 1.5rem solid $color-primary;
        border-radius: 20px; 
        box-shadow: 0rem 2rem 2rem rgba($color-black,0.5);

      }
    }
&:hover &_photo:not(:hover){
    transform: scale(.90);
}
}
