
@keyframes moveInLeft {
    0% {
        transform: translateX(-40%);
        opacity: 0;
    }
    80% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(40%);
        opacity: 0;
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInUP {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
