body {
    padding: 3rem;
    font-size: 1.6rem;
    font-family: "lato", sans-serif;
    line-height: 1.7;
  }
  .primary-title {
    color: $color-white;
    text-transform: uppercase;
  
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation: moveInLeft 1s ease-out;
    }
  
    &--sub {
      display: block;
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out;
    }
  }
  .secondery-title {
    display: inline-block;
    margin: 0 auto;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 2.5px;
    transition: all 0.2s;
    text-transform: uppercase;
    &:hover {
      transform: skewY(3deg) scale(1.2);
      text-shadow: 0 1.5rem 2rem rgba($color-black, 0.2);
      letter-spacing: 3.2px;
    }
  }
  .tertiary-title {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: $color-gray;
  }
  .paragraph {
    color: $color-gray;
    font-size: 1.6rem;
    font-weight: 400;
  }
  